table, td, tr {
  padding: 5  px;
  border: 1px solid black;
  text-align: center;
  width: 33%;
  height: 100px;
  font-size: 100px;
}

td:hover {
  background-color:darkgrey;
  color:white;
}

.col-md-6 {
  padding-left: 10%;
}

h1 {
  padding-left: 10%;
}
